body{
	margin: 0;
	padding:0;
}

.header{
	height: 15vh !important;
	margin:0;
	padding:0;
	border:0 !important;
}

.content{
	margin-top:0 !important;
	padding-top:0 !important;
	margin-bottom:0 !important;
	padding-bottom:0 !important;
	height: 75vh !important;
	border:0 !important;
}

.footer{
	height: 10vh !important;
	margin:0;
	padding:0;
	border: 0 !important;
}