body{
	margin: 0;
	padding:0;
}

.header{
	height: 15vh !important;
	margin:0;
	padding:0;
	border:0 !important;
}

.content{
	margin-top:0 !important;
	padding-top:0 !important;
	margin-bottom:0 !important;
	padding-bottom:0 !important;
	height: 75vh !important;
	border:0 !important;
}

.footer{
	height: 10vh !important;
	margin:0;
	padding:0;
	border: 0 !important;
}

.MapHeader {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 25px !important;
	height: 6.6vh;
	background: #3366FF;
	padding-top: 1.4vh;
}

@media screen and (max-height:550px) {
	.MapHeader {
		height: 40px;
		padding-top: 0;
	}
}

.HeaderLabel {
	color: #FFFFFF;
	margin-left: 12vw;
}